.show-on-mobile{
    display:none;
  }
  .show-on-tablet{
      display:none;
    }
    .show-on-deskop{
      display:none;
    }
  @media screen and (max-width:700px){
    .show-on-mobile{
      display:contents;
    }
    .show-on-tablet{
      display:none;
    }
    .show-on-deskop{
      display:none;
    }
  }
  @media screen and (min-width:701px) and (max-width:1200px){
    .show-on-tablet{
      display:contents;
    }
    .show-on-mobile{
      display:none;
    }
    .show-on-deskop{
      display:none;
    }
  }
  @media screen and (min-width:1201px){
    .show-on-tablet{
      display:none;
    }
    .show-on-deskop{
      display:contents;
    }
    .show-on-mobile{
      display:none;
    }
  }